<h2 class="ui center aligned header">
  Welcome to MessageMe - 
  <em>a complete Chat App</em>
</h2>

<h3 class="ui center aligned icon header">
  <i class="circular power off orange icon"></i>
  Log in to continue
</h3>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(scope: :session, url: login_path, class: "ui form", local: true) do |f| %>
        <div class="field">
          <%= f.label :username, for: "username" %>
          <div class="ui left icon input">
            <%= f.text_field :username, id: "username", placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, for: "password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, id: "password", placeholder: "Password" %>
            <i class="user icon"></i>
          </div>
        </div>
        <%= f.button "Login", class: "ui submit button orange" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big button orange disabled">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>